<section class="about-section" id="about">
  <div class="about-content-wrap container">
    <h2 class="about-title">
      <span class="title-line"></span> What is LegalZipo Pro
    </h2>
    <p class="about-subtitle">
      Specialized Legal Solutions for the
      <span class="about-subtitle-span">Gaming Industry</span>
    </p>
    <img src="./img/general/about-img.png" alt="" class="about-img" />
    <p class="about-text">
      LegalZipo Pro is a next-generation legal toolkit designed for the unique
      challenges of the gaming ecosystem. <br><br>
      Whether you're launching a mobile game, managing a YouTube channel, or
      organizing esports tournaments, our platform offers legal automation,
      template customization, and expert guidance—all in one place.
    </p>
  </div>
</section>
