<section class="contact-section" id="contact">
  <div class="contact-content-wrap container">
    <h2 class="contact-title"><span class="title-line"></span>Contact</h2>
    <div class="contact-content">
      <div class="contact-main">
        <h3 class="contact-subtitle">Get in Touch</h3>
        <img src="./img/general/contact.png" alt="" class="contact-img" />
        <p class="contact-text">
          Have questions or need tailored support? Reach out.
        </p>
        <div class="email-wrap">
          <img src="./img/general/email-logo.png" alt="" class="email-logo">
          <p class="contact-email-text">
            <span class="contact-email-span">Email:</span>
            <a href="mailto:info@legalzipo.pro">info@legalzipo.pro</a>
          </p>
        </div>
        <p class="contact-text-company">Company</p>
        <p class="contact-companies">LegalZipo Pro, Limited Liability Company</p>
      </div>
      <img src="./img/general/contact.png" alt="" class="contact-img-desktop" />
    </div>
  </div>
</section>
