<footer class="footer-section">
  <div class="footer-content-wrap container">
    <img class="footer-logo" src="./img/general/logo.png" alt="" />
    <div class="footer-content">
      <ul class="footer-list">
        <li class="footer-list-item">
          <a href="/#hero" class="footer-link">Home</a>
        </li>
        <li class="footer-list-item">
          <a href="/#about" class="footer-link">About</a>
        </li>
        <li class="footer-list-item">
          <a href="/#features" class="footer-link">Features</a>
        </li>
        <li class="footer-list-item">
          <a href="/#tools" class="footer-link">Tools</a>
        </li>
        <li class="footer-list-item">
          <a href="/#blog" class="footer-link">Blog</a>
        </li>
        <li class="footer-list-item">
          <a href="/#testimonials" class="footer-link">Testimonials</a>
        </li>
        <li class="footer-list-item">
          <a href="/#contact" class="footer-link">Contact</a>
        </li>
      </ul>
      <div class="footer-cpt-links">
        <a href="./privacy.html" class="cpt-link">Privacy Policy</a
        ><a href="./terms.html" class="cpt-link">Terms of Service</a
        ><a href="./cookies.html" class="cpt-link">Cookies Policy</a>
      </div>
      <div class="footer-email-wrap">
        <img
          src="./img/general/email-logo.png"
          alt=""
          class="footer-email-logo"
        />
        <p class="footer-email-text">
          <span class="footer-email-span">Email:</span>
          <a href="mailto:info@legalzipo.pro">info@legalzipo.pro</a>
        </p>
      </div>
    </div>
    <div class="rights">
      <p class="footer-rights">All rights reserved legalzipo.pro | 2025.</p>
    </div>
  </div>
</footer>
