<section class="hero-section" id="hero">
  <div class="hero-content-wrap container">
    <div class="hero-content">
      <div class="hero-main container">
        <h1 class="hero-title">
          Legal Support, Built for the <br />
          <span class="hero-span">Gaming World</span>
        </h1>
        <p class="hero-text">
          Streamline your legal game with tools made for developers, streamers,
          teams, and creatives.
        </p>
        <a class="hero-book-desktop" href="#">Book a Strategy Call</a>
      </div>
    </div>
    <a class="hero-book" href="#">Book a Strategy Call</a>
  </div>
</section>

