<section class="legal-kit-section" id="legal-kit">
  <div class="legal-kit-content-wrap container">
    <h2 class="legal-kit-title">
      <span class="title-line"></span>Streamer & Influencer Legal Kit
    </h2>
    <div class="legal-kit-content">
      <h3 class="legal-kit-subtitle">Protect Your Content. <span class="legal-kit-span">Secure Your Deals</span></h3>
      <img class="legal-kit-img" src="./img/general/legal-kit.png" alt="" />
      <p class="legal-kit-text">
        Negotiate brand deals, understand affiliate agreements, and shield your
        IP. Our tools help creators navigate the legal side of monetization and
        collaborations.
      </p>
    </div>
  </div>
</section>
