<section class="testimonials-section" id="testimonials">
  <div class="testimonials-content-wrap container">
    <h2 class="testimonials-title"><span class="title-line"></span>Testimonials</h2>
    <ul class="reviews-list">
      <li class="reviews-list-item">
        <img src="./img/general/reviews-img-1.png" alt="" class="reviews-img" />
        <div class="reviews-list-wrap">
          <h3 class="reviews-list-title">Maya Johnson</h3>
          <p class="reviews-position">Lead Developer, NovaPixel</p>
          <p class="reviews-list-text">
            "LegalZipo Pro is a game-changer for indie developers like me. I was
            able to create a fully customized license and EULA for my game in
            under 30 minutes. It gave me peace of mind and helped me launch with
            confidence."
          </p>
        </div>
      </li>
      <li class="reviews-list-item">
        <img src="./img/general/reviews-img-2.png" alt="" class="reviews-img" />
        <div class="reviews-list-wrap">
          <h3 class="reviews-list-title">Chris Tang</h3>
          <p class="reviews-position">Streamer & Content Creatorl</p>
          <p class="reviews-list-text">
            "As a streamer with multiple sponsorships, I’ve always struggled to
            manage contracts. LegalZipo Pro made it easy. Their influencer
            contract templates are professional, legally sound, and easy to
            customize for different brands."
          </p>
        </div>
      </li>
      <li class="reviews-list-item">
        <img src="./img/general/reviews-img-3.png" alt="" class="reviews-img" />
        <div class="reviews-list-wrap">
          <h3 class="reviews-list-title">Lana Ortiz</h3>
          <p class="reviews-position">COO, EdgeZone Esports</p>
          <p class="reviews-list-text">
            "We run a mid-size esports organization and compliance was a
            nightmare. LegalZipo’s tournament kit saved us hours of legal work.
            We finally feel confident about our rules, prize handling, and
            anti-cheat policies."
          </p>
        </div>
      </li>
      <li class="reviews-list-item">
        <img src="./img/general/reviews-img-4.png" alt="" class="reviews-img" />
        <div class="reviews-list-wrap">
          <h3 class="reviews-list-title">Anton Brehmer</h3>
          <p class="reviews-position">Founder, PuzzleEscaper</p>
          <p class="reviews-list-text">
            "Our escape room brand needed help with IP protection for our
            storylines and characters. LegalZipo not only provided clear
            guidance but also templates for DMCA takedowns and trademark
            registration that were simple to follow."
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
