@import './header.scss';
@import './hero.scss';
@import './about.scss';
@import './features.scss';
@import './compliant.scss';
@import './tools.scss';
@import './legal-kit.scss';
@import './esport.scss';
@import './protection.scss';
@import './blog.scss';
@import './testimonials.scss';
@import './contact.scss';
@import './footer.scss';
@import './cpt.scss';

.container {
  max-width: 375px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;

  @include media(desktop) {
    max-width: 1440px;
    padding-left: 120px;
    padding-right: 120px;
  }
}

h2 {
  color: aliceblue;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

h2 {
  font-family: 'Orbitron', sans-serif;
  font-weight: 600;
}

main {
  background-image: url('../img/mobile/main-bg-mobile.png');
  background-repeat: no-repeat;
}
